{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header text-center">fares</h2>
            <div class="col-md-3 text-center">hdhd</div>
            <div class="col-md-3 text-center">qwdwqd</div>
            <div class="col-md-3 text-center">qwdqwd</div>
            <div class="col-md-3 text-center">dqdwq</div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="page-header text-center">fares</h2>
            <div class="col-md-3 text-center">hdhd</div>
            <div class="col-md-3 text-center">qwdwqd</div>
            <div class="col-md-3 text-center">qwdqwd</div>
            <div class="col-md-3 text-center">dqdwq</div>
        </div>
    </div>
{% endblock %}


